@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-collapse {
  flex-basis: auto;
  flex-grow: 1;
}

.form-inline {
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-inline {
  justify-content: flex-end;
}

.table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap; /* Prevent long table cell content from wrapping */
}

th, td {
  text-align: center;
  padding: 8px;
  vertical-align: middle; /* Vertically center the cell content */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #76d7c4;
}

th {
  background-color: #c2c6c4;
  color: rgb(0, 0, 0);
}

/* .status-active {
    color: green;
}

.status-inactive {
    color: red;
} */

/* Additional Styles */

.logo-container {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent the logo text from wrapping */
}

.logo-container img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.title {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #ffffff;
}